<p><%= comment.body %></p>
<em>
  posted by <%= comment.creator.name %>
  <%= time_ago_in_words(comment.created_at) %> ago
</em>
<br>
<%= link_to 'Edit', edit_ticket_comment_path(@ticket, comment) %>
