<h1>Projects</h1>

<% if @projects.size.zero? %>
  <em>
    There are no projects.
    <% if logged_in? %>
      Want some?
      <%= link_to 'Create one!', new_project_path %>
    <% end %>
  </em>
<% else %>
  <%= render 'projects' %>
<% end %>

<br>

<%= link_to 'New Project', new_project_path if logged_in? %>
